.Rproj.user
*.csv
*.tsv
*rows_removed_from_varmat_alleledue_to_bugs.txt
*rows_removed_from_varmat_codedue_to_bugs.txt
*_rows_removed_because_no_variants*
*_rows_with_multiple_annots_removed*
*rows_removed_because_unknown_ancestral_state.txt
*tree
data/*tree
*parsed.RData
